
body {
    background: #9191e2; 
    font-family: Arial, sans-serif;
}

.form-container {
    width: 500px;
    margin: 50px auto;
}

fieldset {
    background-color: #2c2f4a; 
    border: 2px solid #4a4f7a;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.6);
}

legend {
    font-weight: bold;
    color: #f5f5f5;
    font-size: 24px;
}

label {
    display: block;
    margin-top: 10px;
    color: #e0e0e0;
    text-align: center;
    margin-left: 10px;
}

input,
select {
    width: 95%;
    padding: 7px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #666;
    background-color: #f5f5f5;
    color: #222;
}

input::placeholder {
    color: #777;
}

input[type="range"] {
    width: 100%;
}

.sub-fieldset {
    margin-top: 15px;
    padding: 15px;
    border: 2px dashed #7aa2f7;
    border-radius: 10px;
    background-color: #3b3f66; 
}

.sub-fieldset legend {
    color: #ffffff;
}

.sub-fieldset label {
    display: inline-block;
    margin-right: 15px;
    color: #f0f0f0;
}

button {
    margin-top: 25px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right, #ff7a18 0%, #ffb347 100%);
    color: #1e1e2f;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
   
}

button:hover {
    background: linear-gradient(to right, #ffb347 0%, #ff7a18 100%);
}

footer{
    text-align: center;
    color: #f0f0f0;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    background-color:#7aa2f7;
    padding-top: 20px;
    padding-bottom: 20px;
}